{{# partial "titulo" }}
    <title>PATITAS AL RESCATE - Home</title>
{{/partial}}


{{# partial "contenido" }}
    <section class="fondo-gris">
        <h2>Sobre nuestro sitio</h2>
        <p>
            Somos una organizacion con fines de lucro que rescata mascotas a cambio de un precio justo ya que toda
            vida vale plata
        </p>

        <ol>
            <li>Somos una empresa joven</li>
            <li>Altos valores</li>
            <li>Decimos lo que la gente quiere escuchar</li>
        </ol>

        Para saber más sobre nuestros valores presionar <a href="/nuestros-valores">acá</a>
    </section>

    <section>
        <h2>Sobre nuestros clientes</h2>

        <p>un bonito texto sobre nuestros clientes.</p>


        </ul>

        <a href="/consultoras">Ver más...</a>

    </section>
{{/partial}}

{{> layout.html.hbs }}